In [1]:
a = 1
b = 2
a+b

3

In [7]:
def test(x,y):
    print(x+y)

In [8]:
test(23,45)

68

In [9]:
test(18988,553636)

572624

In [11]:
test(1,56)

57

In [13]:
test(9,0)

9

In [15]:
def test1(b,m):
    return b*m

In [16]:
test1(3,6)

18

In [17]:
test1(4,4)

16

In [18]:
#print returns nonetype of datatype.

In [19]:
#return gives exact same datatype used.

In [20]:
#generally we use return and dont use print in function

In [22]:
def test3(t,n,m):
    return t+n

In [23]:
test3(2,3,4)

5

In [24]:
test3(2,3)

TypeError: test3() missing 1 required positional argument: 'm'

In [25]:
def test4(n,m):
    return n*10, m*40, n+n

In [26]:
test4(2,3)

(20, 120, 4)

In [27]:
type(test4(2,3))

tuple

In [28]:
c,x,v = test4(1,2)

In [29]:
c

10

In [30]:
x

80

In [31]:
v

2

In [1]:
def travel( bike = True, car = False):
    plan_travel = bike or car
    return bike, car, plan_travel

In [2]:
travel()

(True, False, True)

In [11]:
def test11(a,b,c):
    return a+b+c

In [13]:
test11([13242,2,3,4,], [6,5,5,47474],[6,4,4,])

[13242, 2, 3, 4, 6, 5, 5, 47474, 6, 4, 4]

In [16]:
def tst13(*args):
    l = []
    for i in args:
        l = l+i
    return l

In [17]:
tst13([1,2],[3,4],[6,6,7],[9,8,6,])

[1, 2, 3, 4, 6, 6, 7, 9, 8, 6]

In [18]:
def tst14(*args):
    return[i for i in args]

In [19]:
tst14([1,2],[3,4],[6,6,7],[9,8,6,])

[[1, 2], [3, 4], [6, 6, 7], [9, 8, 6]]

In [20]:
def tst15(*args):
    l = []
    for i in args:
        if type(i)==list:
            l = l+i
    return l

In [21]:
tst15("hddjdjd", "raj", [1,2],[3,4],[6,6,7],[9,8,6,] )

[1, 2, 3, 4, 6, 6, 7, 9, 8, 6]

In [ ]:
#kwargs is key word argument

In [23]:
def tst16(**kwargs):
    return(kwargs)

In [24]:
tst16(4,5,6,8)

TypeError: tst16() takes 0 positional arguments but 4 were given

In [27]:
tst16(a = 6, b = "raj", c = True)

{'a': 6, 'b': 'raj', 'c': True}

In [31]:
def test17(*args):
    return args

In [32]:
test17(6, "raj", True)

(6, 'raj', True)

In [43]:
def test20(*args):
    l = []
    m = []
    for i in args:
        if type(i)==list:
            l = l+i
        if type(i)==bool:
            m.append(i)
    return l,m

In [44]:
test20([1,2,3], [535363,4], "raj", "nirmale", True, False)

([1, 2, 3, 535363, 4], [True, False])

In [ ]:
#lambda function

In [49]:
def test(name, mail_id) :
    con = name+mail_id
    return mail_id, name, con

In [50]:
test("raj", "nirmale.shridhar94@gmail.com")

('nirmale.shridhar94@gmail.com', 'raj', 'rajnirmale.shridhar94@gmail.com')

In [54]:
a =10
b =20
def test1(x,y):
    return x+y

In [56]:
test1(a,b)

30

In [57]:
m = lambda x,y : x+y

In [58]:
m(a,b)

30

In [59]:
m(45,40)

85

In [60]:
m("raj", "nirmale.shri94@gmail.com")

'rajnirmale.shri94@gmail.com'

In [ ]:
#lambda is not function itsa keyword

In [61]:
b = "raj"
c = "test"
n = lambda arg1, arg2 : print(arg1,arg2)

In [62]:
n(b,c)

raj test

In [63]:
def test30():
    """
    This is my test function with the help of ths you acn learn a basic of function
    
    """
    
    print("my name is raj")

In [ ]:
test30()

In [64]:
#press shift tab and see defination of function

In [65]:
a = 10

In [66]:
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [67]:
for i in "raj":
    print(i)

r
a
j